body {
    font-family: Lato;
    background: #ECECEA;
    font-size: 14px;
}

.ll-homework {
    margin: auto;
    width: 800px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

.delete-symbol {
	float: right;
    cursor: pointer;
    color: red;
}